{% extends "default.html" %}

{% block content %}

<hЗ>Список статей в БД</hЗ>
    <table>
        <tr>
            <td>
                ID
            </td>
            <td>
                Категории
            </td>
            <td>
                Название
            </td>
            <td>
                Текст
            </td>
        </tr>
    {% if post %}
        {% for post in category_news_list %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.name}}</td>
                <td>{{post.title}}</td>
                <td>
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <р>В базе данных нет статей</р>
    {% endif %}
    </table>
<hЗ>Добавить в БД статью</hЗ>
<form method="POST" action="/create/">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" vаluе="Сохранить" >
</form>
{% endblock %}